<template>
  <div style="justify-content: center;">
  <v-card id="emailBase">
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <header class="d-flex justify-space-between align-center">
            <h1 class="titleText">
              {{$route.params.folder}}
            </h1>
            <div class="d-flex" id="buttonFavSpaDel" v-if="Object.keys(this.email).length" >
              <div>
                <v-btn class="mx-2 unclickedBtn"
                  :class="{favourited: inFav}"
                  fab small @click="changeFolder('favourite')">
                  <v-icon dark title="Favourite">mdi-star</v-icon>
                </v-btn>
              </div>
              <div>
                <v-btn class="mx-2 unclickedBtn"
                  :class="{spammed: inSpam}"
                  fab small @click="changeFolder('spam')">
                  <v-icon dark title="Spam">mdi-folder-remove</v-icon>
                </v-btn>
              </div>
              <div>
                <v-btn class="mx-2 unclickedBtn"
                  :class="{deleted: inDel}"
                  fab small v-if="$route.params.folder !== 'deleted'" @click="changeFolder('deleted') ">
                  <v-icon dark title="Delete">mdi-delete</v-icon>
                </v-btn>
                <v-btn class="mx-2 unclickedBtn" fab small v-else @click="changeFolder('inbox') ">
                  <v-icon dark title="Delete">mdi-delete-restore</v-icon>
                </v-btn>
              </div>
            </div>
          </header>
          <v-divider />
          <div class="d-flex">
            <EmailList :emails="emails" @emailClicked="email = $event" />
            <EmailView :email="email" />
          </div>
        </v-col>
      </v-row>

    </v-container>
  </v-card>
  </div>
</template>
<script>
import importedEmails from '../includes/emails'
import findIndex from 'lodash/findIndex'
export default {
  name: 'emailBase',
  props: {
    //
  },
  data: () => ({
    emails: importedEmails,
    email: {}
  }),
  computed: {
    inSpam () {
      return this.email.folder === 'spam'
    },
    inFav () {
      return this.email.folder === 'favourite'
    },
    inDel () {
      return this.email.folder === 'deleted'
    }
  },
  created () {
    //
  },
  methods: {
    changeFolder (folder) {
      if (folder === this.email.folder) {
        this.email.folder = 'inbox'
      } else {
        this.email.folder = folder
      }
      this.updateEmail()
    },
    updateEmail () {
      const emailIndex = findIndex(this.emails, (o) => { return o.id === this.email.id })
      this.$set(this.emails, emailIndex, this.email)
    }
  }
}
</script>
<style lang="scss">
#emailBase{
  position: static;
  justify-content: center;
  background: rgb(61, 61, 61);
  min-width: 80vw;
  min-height: 80vh;
  margin: 4px;
  border: 10px;
  border-radius: 4px;
  header{
    margin-top: -12px;
    margin-bottom: 12px;
  }
  .unclickedBtn{
    background-color: #2fa3da
  }
  .favourited{
    background-color: #A3Da2F;
  }
  .spammed{
    background-color: #DA2FA3;
  }
  .deleted{
    background-color: #11465e00;
  }
  .titleText{
    margin: 0;
    padding-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
  }
}

</style>
