<template>
  <div id="emailList">
      <v-navigation-drawer
      permanent
      >
      <v-list>
        <v-list-item
          class="emailElement"
          v-for="(email,index) in filteredEmails"
          :key="index"
          multi-line
          @click="emailClicked(email)"
        >
            <v-list-item-action>
              <v-btn class="mx-2 defaultBtn"
                fab id="listInitial"
                :title="email.sender_name + ' - ' + email.subject">
                {{ email.sender_name[0] }}
              </v-btn>
            </v-list-item-action>
            <v-list-item-content id="listContent">
              <v-list-item-title v-text="email.subject" id="listSubject" />
              <p>
                <small id="listPreview">
                  {{ email.body.substring(0,19) }}...
                </small>
              </p>
            </v-list-item-content>
            <v-icon id="favouriteButton" small @click="changeIcon"> {{favouriteIcon}} </v-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script>
import filter from 'lodash/filter'
export default {
  name: 'EmailList',
  props: {
    emails: {
      type: Array
    }
  },
  data: () => ({
    favouriteIcon: 'mdi-star-four-outline',
    folder: 'inbox'
  }),
  computed: {
    filteredEmails (folder) {
      const self = this
      return filter(self.emails, function (email) {
        if (self.$route.params.folder === 'all') {
          return true
        }
        return email.folder === self.$route.params.folder
      }
      )
    }
  },
  created () {
    //
  },
  methods: {
    changeIcon () {
      this.myIcon = 'mdi-star-four-point'
    },
    emailClicked (email) {
      this.$emit('emailClicked', email)
    }
  }
}
</script>
<style lang="scss">
#emailList{
  margin: 4px;
  min-height: 70vh;
  max-width: 17vw;
  @media screen and (min-width: 568px) {
    max-width: 22vw;
  }
  .v-list-item{
  padding: 0 2px;
  }
  .defaultBtn{
    background-color: #2fa3da
  }
}
.emailElement{
  position: static;
  background-color: none;
  border: 1px;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  height: 80px;
  min-width: 120px;
   @media screen and (min-width: 600px) {
     display: flex;
     width: 20.5vw;
     max-width: 246px;
     background-color:rgb(60, 60, 60);
  }
}
#listInitial{
  font-size: 24px;
}
#listContent{
  display: none;
  position: relative;
  top: 5px;
  text-align: left;
  @media screen and (min-width: 600px) {
    display: flex;
  }
}
#listSubject{
  position: relative;
  font-size: 20px;
  }
#listPreview{
  display: none;
  @media screen and (min-width: 1100px) {
    display: flex;
  }
}
#favouriteButton{
  position: relative;
}
</style>
