<template>
  <v-container id="emailView" class="pa-4" fluid>
    <div v-if="email.sender_name !== undefined">
      <v-row>
        <v-col cols="12">
          <header>
            <v-row class="d-flex">
              <v-col cols="12" sm="4" class="d-flex align-center" >
                <v-btn class="mx-2" fab color="#2fa3da" id="listInitial" :title="email.sender_name">
                {{ email.sender_name[0] }}
                </v-btn>
                <div id="senderName">{{ email.sender_name }}</div>
              </v-col>
              <v-col cols="12" sm="4" class="d-flex align-center justify-md-center">
                <div><p id="subject">{{ email.subject }}</p></div>
              </v-col>
              <v-col cols="12" sm="4" class="d-flex align-center justify-md-end">
                <div><p id="sent_at">{{ email.sent_at }}</p></div>
              </v-col>
            </v-row>
          </header>
        </v-col>
      </v-row>
      <v-divider />
      <v-row id="emailContent">
        <v-col cols="12">
          {{ email.body }}
        </v-col>
      </v-row>
    </div>
    <div v-else class="no-email" title="Select Email">
      <p>
       Select email
      </p>
    </div>
  </v-container>
</template>
<script>
export default {
  name: 'EmailView',
  props: {
    email: {
      type: Object
    }
  },
  data: () => ({
    //
  }),
  computed: {
    //
  },
  created () {
    //
  },
  methods: {
    //
  }
}
</script>
<style lang="scss">
#emailView{
  position: relative;
}
.no-email{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.3);
  }
}
#senderInitial{
  font-size: 24px;
  background: #2fa3da;
  border-radius: 5rem;
  border: 10rem;
  padding: 1rem;
}
#senderName{
  display: none;
   @media screen and (min-width: 750px) {
     display: flex;
    font-size: 18px;
  }
   @media screen and (min-width: 850px) {
    font-size: 24px;
  }
}
#subject{
  margin: 0;
  text-decoration: underline solid;
  font-size: 24px;
  text-transform: capitalize;
   @media screen and (min-width: 600px) {
    font-size: 18px;
  }
   @media screen and (min-width: 850px) {
    font-size: 24px;
  }
}
#sent_at{
  margin: 0;
  font-size: 12px;
  @media screen and (min-width: 600px) {
    font-size: 18px;
  }
   @media screen and (min-width: 850px) {
    font-size: 24px;
  }
}

</style>
