$mainBlue: #0B87C0;

.v-application .d-flex p {
  margin-bottom: 0;
}
body, .v-application, main, .v-main {
  background:rgb(20,20,20);
}
#topBar {
  background: $mainBlue;
  background: -moz-linear-gradient(left, $mainBlue 0%, $mainBlue 25%, #081E2D 100%);
  background: -webkit-linear-gradient(left, $mainBlue 0%, $mainBlue 25%, #081E2D 100%);
  background: linear-gradient(to right, $mainBlue 0%, $mainBlue 25%, #081E2D 100%);
}
#menuDrawer {
  background: $mainBlue;
}