<template>
  <v-app>
    <v-navigation-drawer id="menuDrawer"
      permanent
      fixed
      mini-variant
      expand-on-hover
      clipped
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar id="topBar"
      clipped-left
      fixed
      app
    >
      <v-toolbar-title @click="$router.push('/')" style="cursor:pointer" v-text="title"/>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-folder',
          title: 'Inbox',
          to: '/inbox'
        },
        {
          icon: 'mdi-star',
          title: 'Favourites',
          to: '/favourite'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'All',
          to: '/all'
        },
        {
          icon: 'mdi-folder-remove',
          title: 'Spam',
          to: '/spam'
        },
        {
          icon: 'mdi-delete',
          title: 'Deleted',
          to: '/deleted'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Email Interface'
    }
  }
}
</script>
