<template>
  <body>
    <div id="index">
      <EmailBase />
    </div>
  </body>
</template>
<script>
export default {
  name: 'index',
  props: {
    //
  },
  data: () => ({
    //
  }),
  computed: {
    //
  },
  created () {
    //
  },
  methods: {
    //
  }
}
</script>
<style lang="scss">
#index {
  width: 100%;
  margin: 4px;
  border: 10px;
  padding: 10px;
  border-radius: 50rem;
}
.titleText{
  margin-left: 1rem;
}
</style>
